*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  padding: 3rem; }

.burst-12 {
  width: 80px;
  height: 80px;
  position: relative;
  text-align: center; }

.burst-12:before, .burst-12:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 80px;
  width: 80px; }

.burst-12:before {
  -webkit-transform: rotate(30deg);
  -moz-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  -o-transform: rotate(30deg); }

.burst-12:after {
  -webkit-transform: rotate(60deg);
  -moz-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  -o-transform: rotate(60deg); }

.flag {
  width: 110px;
  height: 67px;
  padding-top: 15px;
  position: relative;
  background-color: #d05a2a; }

.flag:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 0;
  border-bottom: 13px solid #e2e2be;
  border-left: 55px solid transparent;
  border-right: 55px solid transparent; }

.circle {
  width: 45rem;
  height: 40rem;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%; }

.triangle--left {
  width: 0;
  height: 0;
  border-top: 13px solid transparent;
  border-bottom: 27px solid transparent; }

.triangle--right {
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 30px solid transparent; }

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400; }

.header-primary {
  font-size: 7rem;
  font-weight: 200;
  letter-spacing: 1.4px;
  color: #57140e; }

.header-secondary {
  font-size: 3rem;
  letter-spacing: 1.4px;
  color: #57140e; }

.header__logo--est {
  font-family: 'Ranga', cursive;
  font-size: 2.2rem;
  color: #e2e2be;
  letter-spacing: 1.5px;
  font-weight: 700; }

.header__logo--head-sub {
  color: #e2e2be;
  text-transform: uppercase;
  letter-spacing: 1.4px;
  font-size: 1.4rem;
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 95% 50%, 100% 100%, 0% 100%, 5% 50%);
  clip-path: polygon(); }

.nav [class^="nav"] {
  color: #e2e2be;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1.2px; }

.nav__logo--text {
  font-size: 1.2rem; }

.nav__navigation--item-link {
  font-size: 1.8rem; }

.card__details--title {
  font-size: 1.8rem; }

.card__details--description-price {
  font-size: 1.6rem; }

.card__details--description-text {
  font-size: 1.6rem; }

.u-text-align-center {
  text-align: center; }

.u-margin-bottom-small {
  margin-bottom: 2rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.about {
  padding: 2rem;
  z-index: 1; }
  .about__img {
    height: 25rem;
    margin-top: 6rem;
    margin-right: 4rem;
    float: left;
    -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.17);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.17);
    z-index: 1; }
  .about__text {
    text-align: left;
    z-index: 1; }
  .about__paragraph {
    font-size: 1.6rem;
    letter-spacing: 1.2px;
    line-height: 1.6;
    z-index: 1; }
  .about__btn {
    display: inline-block;
    margin-top: 3rem;
    z-index: -1; }

.btn:link, .btn:visited {
  border: solid #d05a2a;
  padding: 2rem 4rem;
  font-weight: 700;
  font-size: 1.6rem;
  text-align: center;
  text-decoration: none;
  color: #57140e;
  text-transform: uppercase;
  -webkit-box-shadow: 5px 5px 0 0 #d05a2a;
  box-shadow: 5px 5px 0 0 #d05a2a;
  transition: transform .4s ease; }

.btn:link::after, .btn:visited::after {
  transition: transform .2s ease-in-out; }

.btn:hover {
  transform: translate(3px, 3px); }

.btn:link:hover::after, .btn:visited:hover::after {
  box-shadow: none; }

.btn__card:link, .btn__card:visited {
  border: solid #d05a2a;
  padding: .5rem .7rem;
  font-weight: 700;
  font-size: 1.4rem;
  text-align: center;
  text-decoration: none;
  color: #57140e;
  text-transform: uppercase;
  -webkit-box-shadow: 2px 3px 0 0 #d05a2a;
  box-shadow: 2px 3px 0 0 #d05a2a;
  transition: transform .4s ease; }

.btn__card:hover {
  background-color: #d05a2a;
  color: white;
  transform: translate(3px, 3px); }

.btn-checkout {
  border: solid #d05a2a;
  padding: 1rem 2rem;
  font-weight: 700;
  font-size: 1.6rem;
  text-align: center;
  text-decoration: none;
  width: 20rem;
  color: #57140e;
  text-transform: uppercase;
  -webkit-box-shadow: 5px 5px 0 0 #d05a2a;
  box-shadow: 5px 5px 0 0 #d05a2a;
  transition: transform .4s ease; }
  .btn-checkout:hover {
    background-color: #d05a2a;
    color: white;
    transform: translate(3px, 3px); }

.card {
  border: 1px solid #dbd9d8;
  border-radius: .8rem;
  height: 50rem; }
  .card > * {
    width: 90%;
    margin: 0 auto; }
  .card__img--holder {
    padding: 1rem 0;
    height: 30rem; }
  .card__img--image {
    width: 90%; }
  .card__img--image--record {
    width: 58%; }
  .card__line {
    border: 1px solid #dbd9d8; }
  .card__details {
    padding: 1rem 0;
    position: relative; }
    .card__details--btn {
      margin: 2.4rem 0; }
    .card__details-img {
      height: 2rem;
      position: absolute;
      top: 6rem;
      right: 2rem;
      backface-visibility: hidden;
      transition: transform .1s ease; }
      .card__details-img:hover {
        cursor: pointer;
        transform: scale(1.08); }
    .card__details--description-price {
      margin: 1rem 0;
      font-weight: 500; }

.modal {
  height: 90vh;
  position: relative;
  top: 1rem;
  width: 90%;
  margin: 0 auto; }
  .modal__top--grey {
    background-color: #f0ebe3;
    height: 56vh; }
  .modal__middle--grey {
    background-color: #cec6be;
    height: 13vh; }
  .modal__bottom--grey {
    background-color: #f0ebe3;
    height: 20vh; }
  .modal__triangle--left {
    position: absolute;
    top: 5vh;
    left: 5rem;
    opacity: .5; }
  .modal__triangle--right {
    position: absolute;
    top: 40vh;
    right: 5rem;
    opacity: .5; }
  .modal__info {
    position: absolute;
    width: 100%; }
    .modal__info--close {
      position: absolute;
      height: 4rem;
      top: 2rem;
      right: 2rem; }
    .modal__info--header {
      position: absolute;
      top: 5vh;
      left: 50%;
      transform: translateX(-50%);
      font-size: 4rem;
      font-weight: 300;
      letter-spacing: 1.4px;
      color: #57140e; }
    .modal__info--image {
      position: absolute;
      height: 40vh;
      top: 22vh;
      left: 20%;
      transform: translateX(-50%); }
      .modal__info--image--phone {
        height: 30vh; }
      .modal__info--image--radio {
        height: 25vh; }
      .modal__info--image--shoes {
        height: 30vh; }
    .modal__info--text {
      position: absolute;
      width: 50%;
      height: 60vh;
      top: 22vh;
      right: 10%;
      font-size: 1.6rem;
      letter-spacing: 1.2px;
      line-height: 1.6;
      color: #57140e; }
      .modal__info--text-price {
        font-size: 2.5rem;
        margin-bottom: 2rem; }
      .modal__info--text-description {
        margin-bottom: 4rem;
        font-size: 1.8rem;
        font-weight: 500; }
      .modal__info--text-btn {
        padding: 1rem 2.5rem;
        font-weight: 700;
        font-size: 1.6rem;
        text-align: center;
        text-decoration: none;
        color: #57140e;
        text-transform: uppercase;
        background-color: white;
        border-radius: 5rem; }
        .modal__info--text-btn:hover {
          background-color: #d05a2a;
          color: white; }
  .modal__bottle-caps {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    transition: all .3s; }
    .modal__bottle-caps:target {
      opacity: 1;
      visibility: visible;
      z-index: 99999; }
    .modal__bottle-caps__line--top {
      height: .5rem;
      width: 100%;
      background-color: #f0ebe3; }
    .modal__bottle-caps__line--middle {
      height: .5rem;
      width: 100%;
      background-color: #da0c0c; }
    .modal__bottle-caps__line--bottom {
      height: .5rem;
      width: 100%;
      background-color: #f1af34; }
    .modal__bottle-caps--left {
      border-right: 55px solid #f1af34; }
    .modal__bottle-caps--right {
      border-left: 40px solid #da0c0c; }
  .modal__camera {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    transition: all .3s; }
    .modal__camera:target {
      opacity: 1;
      visibility: visible;
      z-index: 99999; }
    .modal__camera__line--top {
      height: .5rem;
      width: 100%;
      background-color: #f0ebe3; }
    .modal__camera__line--middle {
      height: .5rem;
      width: 100%;
      background-color: #da0c0c; }
    .modal__camera__line--bottom {
      height: .5rem;
      width: 100%;
      background-color: #f1af34; }
    .modal__camera--left {
      border-right: 55px solid #f1af34; }
    .modal__camera--right {
      border-left: 40px solid #da0c0c; }
  .modal__coke-dispenser {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    transition: all .3s; }
    .modal__coke-dispenser:target {
      opacity: 1;
      visibility: visible;
      z-index: 99999; }
    .modal__coke-dispenser__line--top {
      height: .5rem;
      width: 100%;
      background-color: #f0ebe3; }
    .modal__coke-dispenser__line--middle {
      height: .5rem;
      width: 100%;
      background-color: #da0c0c; }
    .modal__coke-dispenser__line--bottom {
      height: .5rem;
      width: 100%;
      background-color: #f1af34; }
    .modal__coke-dispenser--left {
      border-right: 55px solid #f1af34; }
    .modal__coke-dispenser--right {
      border-left: 40px solid #da0c0c; }
  .modal__phone {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    transition: all .3s; }
    .modal__phone:target {
      opacity: 1;
      visibility: visible;
      z-index: 99999; }
    .modal__phone__line--top {
      height: .5rem;
      width: 100%;
      background-color: #f0ebe3; }
    .modal__phone__line--middle {
      height: .5rem;
      width: 100%;
      background-color: #da0c0c; }
    .modal__phone__line--bottom {
      height: .5rem;
      width: 100%;
      background-color: #f1af34; }
    .modal__phone--left {
      border-right: 55px solid #f1af34; }
    .modal__phone--right {
      border-left: 40px solid #da0c0c; }
  .modal__radio {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    transition: all .3s; }
    .modal__radio:target {
      opacity: 1;
      visibility: visible;
      z-index: 99999; }
    .modal__radio__line--top {
      height: .5rem;
      width: 100%;
      background-color: #f0ebe3; }
    .modal__radio__line--middle {
      height: .5rem;
      width: 100%;
      background-color: #da0c0c; }
    .modal__radio__line--bottom {
      height: .5rem;
      width: 100%;
      background-color: #f1af34; }
    .modal__radio--left {
      border-right: 55px solid #f1af34; }
    .modal__radio--right {
      border-left: 40px solid #da0c0c; }
  .modal__record-player {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    transition: all .3s; }
    .modal__record-player:target {
      opacity: 1;
      visibility: visible;
      z-index: 99999; }
    .modal__record-player__line--top {
      height: .5rem;
      width: 100%;
      background-color: #f0ebe3; }
    .modal__record-player__line--middle {
      height: .5rem;
      width: 100%;
      background-color: #da0c0c; }
    .modal__record-player__line--bottom {
      height: .5rem;
      width: 100%;
      background-color: #f1af34; }
    .modal__record-player--left {
      border-right: 55px solid #f1af34; }
    .modal__record-player--right {
      border-left: 40px solid #da0c0c; }
  .modal__shoes {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    transition: all .3s; }
    .modal__shoes:target {
      opacity: 1;
      visibility: visible;
      z-index: 99999; }
    .modal__shoes__line--top {
      height: .5rem;
      width: 100%;
      background-color: #f0ebe3; }
    .modal__shoes__line--middle {
      height: .5rem;
      width: 100%;
      background-color: #da0c0c; }
    .modal__shoes__line--bottom {
      height: .5rem;
      width: 100%;
      background-color: #f1af34; }
    .modal__shoes--left {
      border-right: 55px solid #f1af34; }
    .modal__shoes--right {
      border-left: 40px solid #da0c0c; }
  .modal__suitcases {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    transition: all .3s; }
    .modal__suitcases:target {
      opacity: 1;
      visibility: visible;
      z-index: 99999; }
    .modal__suitcases__line--top {
      height: .5rem;
      width: 100%;
      background-color: #f0ebe3; }
    .modal__suitcases__line--middle {
      height: .5rem;
      width: 100%;
      background-color: #da0c0c; }
    .modal__suitcases__line--bottom {
      height: .5rem;
      width: 100%;
      background-color: #f1af34; }
    .modal__suitcases--left {
      border-right: 55px solid #f1af34; }
    .modal__suitcases--right {
      border-left: 40px solid #da0c0c; }
  .modal__type-writer {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    transition: all .3s; }
    .modal__type-writer:target {
      opacity: 1;
      visibility: visible;
      z-index: 99999; }
    .modal__type-writer__line--top {
      height: .5rem;
      width: 100%;
      background-color: #f0ebe3; }
    .modal__type-writer__line--middle {
      height: .5rem;
      width: 100%;
      background-color: #da0c0c; }
    .modal__type-writer__line--bottom {
      height: .5rem;
      width: 100%;
      background-color: #f1af34; }
    .modal__type-writer--left {
      border-right: 55px solid #f1af34; }
    .modal__type-writer--right {
      border-left: 40px solid #da0c0c; }
  .modal__add-to-cart {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 0;
    visibility: hidden; }
    .modal__add-to-cart--content {
      position: relative;
      top: 20%;
      left: 50%;
      transform: translateX(-50%);
      background-color: white;
      height: 40rem;
      width: 60rem;
      text-align: center;
      padding: 3rem;
      font-size: 2.5rem;
      color: #57140e;
      -webkit-box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.2);
      box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.2);
      z-index: 9999999; }
      .modal__add-to-cart--content-close {
        position: absolute;
        top: 2rem;
        right: 2rem;
        height: 2.5rem; }
      .modal__add-to-cart--content-added {
        border-bottom: 1px solid rgba(240, 235, 227, 0.7);
        padding-bottom: 2rem; }
      .modal__add-to-cart--content-title {
        position: absolute;
        top: 10rem;
        left: 22rem;
        font-size: 2rem;
        font-weight: 500; }
      .modal__add-to-cart--content-image {
        position: absolute;
        top: 10rem;
        left: 5rem;
        width: 15rem; }
      .modal__add-to-cart--content-price {
        position: absolute;
        top: 14rem;
        left: 22rem;
        font-size: 1.6rem;
        font-weight: 500; }
      .modal__add-to-cart--content-description {
        position: absolute;
        top: 18rem;
        left: 22rem;
        width: 35rem;
        font-size: 1.4rem; }
      .modal__add-to-cart--content-btn {
        position: absolute;
        top: 26rem;
        left: 22rem; }
      .modal__add-to-cart--content-link {
        text-decoration: none;
        color: #57140e; }
    .modal__add-to-cart:target {
      opacity: 1;
      visibility: visible;
      z-index: 99999; }

.shopping__header {
  position: relative;
  margin: 0 auto;
  width: 80%; }
  .shopping__header--one {
    background-color: #d05a2a;
    height: 10rem; }
  .shopping__header--two {
    background-color: #d9cca2;
    height: 8rem; }
  .shopping__header--three {
    background-color: #d05a2a;
    height: 1rem; }

.shopping__title {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 4rem;
  color: #57140e;
  font-weight: 500; }

.shopping__items {
  background-color: #d05a2a;
  width: 100%;
  height: 90vh; }

.row {
  width: 100%;
  margin: 0 auto; }
  .row [class^="col-"] {
    float: left;
    margin-bottom: 2rem; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 2rem; }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 2rem) / 3); }

.header {
  position: relative;
  top: -2rem;
  margin: 0 auto;
  width: 80%;
  height: 55rem; }
  .header__one {
    background-color: #d05a2a;
    height: 17rem; }
  .header__two {
    background-color: #d9cca2;
    height: 21rem; }
  .header__three {
    background-color: #d05a2a;
    height: 17rem; }
  .header__logo {
    position: absolute;
    top: 28%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #e2e2be;
    -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.17);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.17); }
    .header__logo--header {
      text-align: center;
      margin-top: 6rem;
      margin-bottom: 1.5rem; }
    .header__logo--head-sub {
      position: absolute;
      background-color: #57140e;
      padding: 1rem;
      width: 30rem;
      left: 50%;
      transform: translateX(-50%); }
    .header__logo--est {
      position: absolute;
      top: 77%;
      left: 50%;
      transform: translateX(-50%);
      background-color: #d05a2a; }

.nav {
  display: flex;
  justify-content: space-between;
  position: relative;
  top: 7rem; }
  .nav__logo {
    border: 2px solid #e2e2be;
    display: inline-block;
    padding: 1rem;
    margin-left: 4rem; }
  .nav__navigation {
    margin-right: 4rem; }
    .nav__navigation--list {
      display: flex;
      height: 5rem;
      align-items: center;
      list-style-type: none; }
    .nav__navigation--item:not(:last-child) {
      margin-right: 6rem;
      border-bottom: solid #e2e2be; }
    .nav__navigation--item-link {
      text-decoration: none;
      padding: 1rem 1rem 0 1rem;
      -webkit-transition: all .4s ease;
      transition: all .4s ease; }
      .nav__navigation--item-link:hover {
        background-color: #e2e2be;
        color: #57140e; }
    .nav__navigation--item-image {
      height: 2rem; }
  .nav__shopping-card-items {
    position: absolute;
    top: 2.5rem;
    right: 3rem;
    border-radius: 50%;
    background-color: #c29015;
    height: 3rem;
    width: 3rem; }
    .nav__shopping-card-items--hidden {
      visibility: hidden; }
    .nav__shopping-card-items--show {
      visibility: visible; }
    .nav__shopping-card-items-text {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 1.4rem; }

.section {
  width: 80%;
  margin: 10rem auto; }
  .section__shop {
    position: relative;
    height: 160rem; }
  .section__about {
    position: relative;
    height: 40rem;
    z-index: 1; }
