// colors
$color-header-orange: rgb(208,90,42);
$color-header-white-1: rgb(217,204,162);
$color-header-white-2: rgb(226,226,190);
$color-grey-light: rgb(240, 235, 227);
$color-grey-dark: rgb(231, 231, 223);
$color-grey-darker: rgba(206, 198, 190, .7);
$color-grey-light-card: #dbd9d8;
$color-header-brown: rgb(87,20,14);
$color-header-yellow: rgb(194,144,21);
$color-black: #000;

// sizes
$site-width: 80%;
$gutter-horizontal: 2rem;
$gutter-vertical: 2rem;