$color-header-orange: rgb(208,90,42);
$color-header-white-1: rgb(217,204,162);
$color-header-white-2: rgb(226,226,190);
$color-header-text: rgb(87,20,14);
$color-header-buttons: rgb(194,144,21);
$color-black: #000;