.card {
    border: 1px solid $color-grey-light-card;
    border-radius: .8rem;
    height: 50rem;

    & > * {
        width: 90%;
        margin: 0 auto;
    }


    &__img {

        &--holder {
            padding: 1rem 0;
            height: 30rem;
        }

        &--image {
            width: 90%;
        }

        &--image--record {
            width: 58%;
        }
        
    }

    &__line {
        border: 1px solid $color-grey-light-card;
    }

    &__details {
        padding: 1rem 0;
        position: relative;

        &--btn {
            margin: 2.4rem 0;   
        }

        &-img {
            height:2rem;
            position: absolute;
            top: 6rem;
            right: 2rem;
            backface-visibility: hidden;
            transition: transform .1s ease;

            &:hover {
                cursor: pointer;
                transform: scale(1.08);
            }
        }

        &--description {
            
            &-price {
                margin: 1rem 0; 
                font-weight: 500;
            }
        }

    }
}