.modal {

    height: 90vh;
    position: relative;
    width: 90%;
    margin: 0 auto;

    &__top--grey {
        background-color: $color-grey-light;
        height: 56vh;
    }

    &__middle--grey {
        background-color: $color-grey-darker;
        height: 13vh;
    }

    &__bottom--grey {
        background-color: $color-grey-light;
        height: 20vh; 
    }

    &__triangle--left {
        position: absolute;
        top: 5vh;
        left: 5rem; 
        opacity: .5;

    }

    &__triangle--right {
        position: absolute;
        top: 40vh;
        right: 5rem;
        opacity: .5;
    }

    &__info {

        position: absolute;
        width: 100%;

        &--close {
            position: absolute;
            height: 4rem;
            top: 2rem;
            right: 2rem;
        }

        &--header {
            position: absolute;
            top: 5vh;
            left: 50%;
            transform: translateX(-50%);
            font-size: 4rem;
            font-weight: 300;
            letter-spacing: 1.4px;
            color: $color-header-brown;
        }

        &--image {
            position: absolute;
            height: 40vh;
            top: 22vh;
            left: 20%;
            transform: translateX(-50%);

            &--phone {
                height: 30vh;
            }

            &--radio {
                height: 25vh;
            }

            &--shoes {
                height: 30vh;
            }
        }

        &--text {
            position: absolute;
            width: 50%;
            height: 60vh;
            top: 22vh;
            right: 10%;
            font-size: 1.6rem;
            letter-spacing: 1.2px;
            line-height: 1.6;
            color: $color-header-brown;

            &-price {
                font-size: 2.5rem;
                margin-bottom: 2rem;
            }

            &-description {
                margin-bottom: 4rem;
                font-size: 1.8rem;
                font-weight: 500;
            }


            &-btn {
                padding: 1rem 2.5rem;
                font-weight: 700;
                font-size: 1.6rem;
                text-align: center;
                text-decoration: none;
                color: $color-header-brown;
                text-transform: uppercase;
                background-color: white; 
                border-radius: 5rem;

                &:hover {
                    background-color: $color-header-orange;
                    color: white;
                }
            }
        }

        
    }

    &__bottle-caps {

        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100%;
        background-color: rgba($color-black, .6);
        z-index: 9999;
        opacity: 0; 
        visibility: hidden;
        transition: all .3s;

        &:target {
            opacity: 1;
            visibility: visible;
        }

        &__line--top {
            height: .5rem;
            width: 100%;
            background-color: $color-grey-light;
        }

        &__line--middle {
            height: .5rem;
            width: 100%;
            background-color: rgb(218, 12, 12);
        }

        &__line--bottom {
            height: .5rem;
            width: 100%;
            background-color: rgb(241, 175, 52);
        }

        &--left {
            border-right: 55px solid rgb(241, 175, 52);
        }

        &--right {
            border-left: 40px solid rgb(218, 12, 12);
        }
    }

    &__camera {

        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100%;
        background-color: rgba($color-black, .6);
        z-index: 9999;
        opacity: 0; 
        visibility: hidden;
        transition: all .3s;

        &:target {
            opacity: 1;
            visibility: visible;
        }

        &__line--top {
            height: .5rem;
            width: 100%;
            background-color: $color-grey-light;
        }

        &__line--middle {
            height: .5rem;
            width: 100%;
            background-color: rgb(218, 12, 12);
        }

        &__line--bottom {
            height: .5rem;
            width: 100%;
            background-color: rgb(241, 175, 52);
        }

        &--left {
            border-right: 55px solid rgb(241, 175, 52);
        }

        &--right {
            border-left: 40px solid rgb(218, 12, 12);
        }

    }

    &__coke-dispenser { 

        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100%;
        background-color: rgba($color-black, .6);
        z-index: 9999;
        opacity: 0; 
        visibility: hidden;
        transition: all .3s;

        &:target {
            opacity: 1;
            visibility: visible;
        }


        &__line--top {
            height: .5rem;
            width: 100%;
            background-color: $color-grey-light;
        }

        &__line--middle {
            height: .5rem;
            width: 100%;
            background-color: rgb(218, 12, 12);
        }

        &__line--bottom {
            height: .5rem;
            width: 100%;
            background-color: rgb(241, 175, 52);
        }

        &--left {
            border-right: 55px solid rgb(241, 175, 52);
        }

        &--right {
            border-left: 40px solid rgb(218, 12, 12);
        }

    }

    &__phone {

        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100%;
        background-color: rgba($color-black, .6);
        z-index: 9999;
        opacity: 0; 
        visibility: hidden;
        transition: all .3s;

        &:target {
            opacity: 1;
            visibility: visible;
        }


        &__line--top {
            height: .5rem;
            width: 100%;
            background-color: $color-grey-light;
        }

        &__line--middle {
            height: .5rem;
            width: 100%;
            background-color: rgb(218, 12, 12);
        }

        &__line--bottom {
            height: .5rem;
            width: 100%;
            background-color: rgb(241, 175, 52);
        }

        &--left {
            border-right: 55px solid rgb(241, 175, 52);
        }

        &--right {
            border-left: 40px solid rgb(218, 12, 12);
        }

    }

    &__radio {

        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100%;
        background-color: rgba($color-black, .6);
        z-index: 9999;
        opacity: 0; 
        visibility: hidden;
        transition: all .3s;

        &:target {
            opacity: 1;
            visibility: visible;
        }


        &__line--top {
            height: .5rem;
            width: 100%;
            background-color: $color-grey-light;
        }

        &__line--middle {
            height: .5rem;
            width: 100%;
            background-color: rgb(218, 12, 12);
        }

        &__line--bottom {
            height: .5rem;
            width: 100%;
            background-color: rgb(241, 175, 52);
        }

        &--left {
            border-right: 55px solid rgb(241, 175, 52);
        }

        &--right {
            border-left: 40px solid rgb(218, 12, 12);
        }

    }

    &__record-player {

        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100%;
        background-color: rgba($color-black, .6);
        z-index: 9999;
        opacity: 0; 
        visibility: hidden;
        transition: all .3s;

        &:target {
            opacity: 1;
            visibility: visible;
        }


        &__line--top {
            height: .5rem;
            width: 100%;
            background-color: $color-grey-light;
        }

        &__line--middle {
            height: .5rem;
            width: 100%;
            background-color: rgb(218, 12, 12);
        }

        &__line--bottom {
            height: .5rem;
            width: 100%;
            background-color: rgb(241, 175, 52);
        }

        &--left {
            border-right: 55px solid rgb(241, 175, 52);
        }

        &--right {
            border-left: 40px solid rgb(218, 12, 12);
        }

    }

    &__shoes {

        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100%;
        background-color: rgba($color-black, .6);
        z-index: 9999;
        opacity: 0; 
        visibility: hidden;
        transition: all .3s;

        &:target {
            opacity: 1;
            visibility: visible;
        }


        &__line--top {
            height: .5rem;
            width: 100%;
            background-color: $color-grey-light;
        }

        &__line--middle {
            height: .5rem;
            width: 100%;
            background-color: rgb(218, 12, 12);
        }

        &__line--bottom {
            height: .5rem;
            width: 100%;
            background-color: rgb(241, 175, 52);
        }

        &--left {
            border-right: 55px solid rgb(241, 175, 52);
        }

        &--right {
            border-left: 40px solid rgb(218, 12, 12);
        }

    }

    &__suitcases {

        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100%;
        background-color: rgba($color-black, .6);
        z-index: 9999;
        opacity: 0; 
        visibility: hidden;
        transition: all .3s;

        &:target {
            opacity: 1;
            visibility: visible;
        }

        &__line--top {
            height: .5rem;
            width: 100%;
            background-color: $color-grey-light;
        }

        &__line--middle {
            height: .5rem;
            width: 100%;
            background-color: rgb(218, 12, 12);
        }

        &__line--bottom {
            height: .5rem;
            width: 100%;
            background-color: rgb(241, 175, 52);
        }

        &--left {
            border-right: 55px solid rgb(241, 175, 52);
        }

        &--right {
            border-left: 40px solid rgb(218, 12, 12);
        }

    }

    &__type-writer {

        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100%;
        background-color: rgba($color-black, .6);
        z-index: 9999;
        opacity: 0; 
        visibility: hidden;
        transition: all .3s;

        &:target {
            opacity: 1;
            visibility: visible;
        }

        &__line--top {
            height: .5rem;
            width: 100%;
            background-color: $color-grey-light;
        }

        &__line--middle {
            height: .5rem;
            width: 100%;
            background-color: rgb(218, 12, 12);
        }

        &__line--bottom {
            height: .5rem;
            width: 100%;
            background-color: rgb(241, 175, 52);
        }

        &--left {
            border-right: 55px solid rgb(241, 175, 52);
        }

        &--right {
            border-left: 40px solid rgb(218, 12, 12);
        }

    }

    &__add-to-cart {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: $color-header-white-2;
        border-radius: 15px;
        height: 10rem;
        width: 50vh;
        text-align: center;
        padding: 3rem;
        font-size: 2.5rem;
        color: $color-header-brown;
        -webkit-box-shadow: 0 1rem 1.5rem rgba($color-black, .2);
        box-shadow: 0 1rem 1.5rem rgba($color-black, .2);
        z-index:9999;
        opacity: 0;
        visibility: hidden;

        &:target {
            opacity: 1;
            visibility: visible;
        }

        &--close{
            position: absolute;
            top: 1rem;
            right: 1rem;
            height: 2.5rem;
        }
    }
}