.modal {

    height: 90vh;
    border: solid black;
    position: relative;

    &__top--grey {
        background-color: $color-grey-light;
        height: 38vh;
    }

    &__middle--grey {
        background-color: $color-grey-darker;
        height: 13vh;
    }

    &__bottom--grey {
        background-color: $color-grey-light;
        height: 38vh;
    }

    &__info {

        position: absolute;
        width: 100%;

        &--close {
            position: absolute;
            height: 4rem;
            top: 2rem;
            right: 2rem;
        }

        &--header {
            position: absolute;
            top: 5vh;
            left: 50%;
            transform: translateX(-50%);
        }

        &--image {
            position: absolute;
            height: 40vh;
            top: 22vh;
            left: 20%;
            transform: translateX(-50%);
        }

        &--btn {
            position: absolute;
            top: 68vh;
            left: 50%;
            transform: translateX(-50%);
            border: solid $color-header-orange;
            padding: 1rem 2.5rem;
            font-weight: 700;
            font-size: 1.6rem;
            text-align: center;
            text-decoration: none;
            color: $color-header-brown;
            text-transform: uppercase;
            -webkit-box-shadow: 5px 5px 0 0 $color-header-orange;
            box-shadow: 5px 5px 0 0 $color-header-orange;
            transition: transform .4s ease;

            &:hover {
                background-color: $color-header-orange;
                color: white;
            }
        }
    }

    

    &__bottle-caps {
        &__line--top {


        }

        &__line--bottom {
            
        }
    }

    &__camera {

    }

    &__coke-dispenser { 

    }

    &__phone {

    }

    &__radio {

    }

    &__record-player {

    }

    &__shoes {

    }

    &__suitcases {

    }

    &__tv {

    }
}