body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400; 
}

.header {

    &-primary {
        font-size: 7rem;
        font-weight: 200;
        letter-spacing: 1.4px;
        color: $color-header-brown;
    }

    &-secondary {
        font-size: 3rem;
        letter-spacing: 1.4px;
        color: $color-header-brown;
    }

    &__logo {
        &--est {
            font-family: 'Ranga', cursive;
            font-size: 2.2rem;
            color: $color-header-white-2;
            letter-spacing: 1.5px;
            font-weight: 700;
        }

        &--head-sub {
            color: $color-header-white-2;
            text-transform: uppercase;
            letter-spacing: 1.4px;
            font-size: 1.4rem;
            -webkit-clip-path: polygon(0% 0%, 100% 0%, 95% 50%, 100% 100%, 0% 100%, 5% 50%);
            clip-path: polygon();
        }
    }

    

}

.nav {

    [class^="nav"] {
        color: $color-header-white-2;
        text-transform: uppercase;
        font-weight: 500;
        letter-spacing: 1.2px;
    }
        
    &__logo--text {
        font-size: 1.2rem;
    }

    &__navigation--item-link {
        font-size: 1.8rem;
    }

}




