.section {
    width: $site-width;
    margin: 5rem auto;
    display: block;

    @media all and (max-width: 700px) {
        width: 95%;
    }
    
    &__shop {
        // position: relative;
        // height: 160rem; 
        // margin-bottom: 4rem;
        // height:100%;
    }

    &__about {
        // position: relative;
        // height: 40rem;
        // z-index: 1;
    }
}

     