.row {
    width: 100%;
    margin: 0 auto;
    
    [class^="col-"] {
        float: left;
        margin-bottom: $gutter-vertical;

        &:not(:last-child) {
            margin-right: $gutter-horizontal;
        }
    }

    .col-1-of-3 {
        width: calc((100% - 2 * #{$gutter-horizontal}) / 3);
    }
}